<div class="container-fluid">
  <app-form (emitSearch)="searchUser($event)" (emitRepo)="getRepos($event)"></app-form>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> User: {{users.login}}</h5>
          <img class="card-img-top product-image" src="{{users.avatar_url}}" alt="User's avatar">
          <p class="card-text">User ID: {{users.id}}</p>
        </div>
      </div>
    </div>

  </div>

  <!-- <div *ngIf="repos"> -->
  <h3>Repos</h3>
  <div class="card-columns">
    <div *ngFor="let repo of repos">
      <div class="card">
        <h4 class="card-header-title"> {{repo.name }}</h4>

        <h5 class="mb-0 pb-3 pt-2"> {{repo.description}} </h5>

        <h6 class="mb-0 pb-3 pt-2"><a href="{{repo.html_url}}">View Site on Github</a></h6>
        <h6 class="mb-0 pb-3 pt-2"> {{repo.created_at | date }} </h6>
        
      </div>
    </div>
  </div>
</div>
<!-- </div> -->